{% extends 'base.html.twig' %}

{% block title %}Hello MovieListController!{% endblock %}

{% block body %}
    <ul>
        {% for movie in movies %}
            <li>{{ movie.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}
