{% extends 'base.html.twig' %}

{% block title %}Hello MovieListController!{% endblock %}

{% block body %}
    <ul>
        {% for movie in movies %}
            <li><a href="{{ path('app_movie_details', {'id': movie.id}) }}">{{ movie.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
