{% extends 'base.html.twig' %}

{% block title %}Movie details{% endblock %}

{% block body %}
    <h2>{{ movie.title }}</h2>
    Date de sortie: {{  movie.releasedAt|format_datetime("full", "none", locale="fr") }}
    Genres:
    {% for genre in movie.genres %}
        {{ genre.name }}
        {% if not loop.last %}, {% endif %}
    {% endfor %}
{% endblock %}
